#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Productlist.css */
.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 50%; /* Jede Produktkarte ist 50% der Breite des Containers */
  padding: 10px;
  box-sizing: border-box; /* Um Padding in die Breite einzubeziehen */
}

.product img {
  max-width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  margin-bottom: 10%;
}


.nav-list {
  margin-right: 20%;
  list-style: none;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-left: 20px; /* Abstand zwischen den Elementen */
}

.nav-link {
  text-decoration: none; /* Entferne die Standardunterstreichung für Links */
  color: #333; /* Farbe der Links */
  font-weight: bold; /* Fetter Text für die Links */
}

.nav-link:hover {
  color: #555; /* Ändere die Farbe bei Hover */
}

.myContent{
  margin-top: 5em;
}

